*{

    box-sizing:border-box;

    margin:0;

    padding:0;

}



body{

    width:100%;

    height:100%;

    background-color: rgb(6, 179, 92);

    font-family:Arial, Helvetica, sans-serif;

}



form{

    display:flex;

    flex-direction: column;

    margin: auto;

    margin-top: 200px;

    align-items:center;

    justify-content: center;

    width:25%;

}



div.email{

    display: inline-block;

    width:100%;

    padding-bottom: 20px;

}



label{

    color:white;

    font-size:20px;

}



div.password{

    display: inline-block;

    width:100%;

    padding-bottom: 20px;

}



input{

    width:100%;

    height:50px;

    border-radius:8px;

    border:none;

}



input:active{

    outline:none;

}



button{

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    text-align: center;

    width:100%;

    height:40px;

    border-radius: 8px;

    border:none;

    background-color: rgb(97, 223, 160);

    color:rgb(26, 87, 49);

    font-weight: bold;

    cursor:pointer;

    text-decoration: none;

}



footer{

    display: flex;

    flex-direction: row;

    justify-content: center;

    margin-top: 200px;

    color:white;

    font-size: 20px;

    font-weight: bold;

    cursor:pointer;

}



@media(max-width:768px){

    form{

        display:flex;

        flex-direction: column;

        margin: auto;

        margin-top: 200px;

        align-items:center;

        justify-content: center;

        width:70%;

    }

}